h1 {
    color: white;
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif
}
body{
    color: black;
    background-color: darkcyan;
}
h2{
    color: black;
    background-color: antiquewhite;
    font-family: Helvetica;
}
ul {
    background-color: antiquewhite;
}